.label {
    color: #333333;
    font-size: 12px;
    margin-top: 16px;
}

.normal-input {
    border: 1px solid #828282;
    &:hover {
        border: 1px solid #333333;
    }
    &:focus {
        border: 1px solid #2962FF;
        outline: none;
    }
}

.normal-input:focus .label{
    color: #2962FF;
}

.error-input {
    border: 1px solid #D32F2F;
    &:hover {
        border: 1px solid #333333;
    }
    &:focus {
        border: 1px solid #D32F2F;
        outline: none;
    }
}

.disabled-input {
    border: 1px solid #E0E0E0;
    background-color: #F2F2F2;
}